@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Poppins";
    src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
}
*{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
body{
    padding-top: 62px;
}

#input-dropdown::-webkit-scrollbar, 
body::-webkit-scrollbar {
    -webkit-appearance: none;
}

#input-dropdown::-webkit-scrollbar:vertical, 
body::-webkit-scrollbar:vertical {
    width: 5px;
}

#input-dropdown::-webkit-scrollbar-button:increment,#input-dropdown::-webkit-scrollbar-button, 
body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
    display: none;
} 

#input-dropdown::-webkit-scrollbar-thumb, 
body::-webkit-scrollbar-thumb {
    background-color: #9341dd;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#input-dropdown::-webkit-scrollbar-track, 
body::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.card {
    color: #fff;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    border-radius: 15% ;
    -webkit-border-radius: 15% ;
    -moz-border-radius: 15% ;
    -ms-border-radius: 15% ;
    -o-border-radius: 15% ;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
}

.card.active {
	transform: rotateY(180deg);
}

.card > div {
	border-radius: 15px;
	min-height: 315px;
}
.back{
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
.visa{
    background: rgb(41,36,94);
    background: linear-gradient(230deg, rgba(41,36,94,1) 0%, rgba(41,57,145,1) 100%);
}
.mastercard{
    background: rgb(249,249,249);
    background: linear-gradient(230deg, rgba(249,249,249,1) 0%, rgba(214,215,213,1) 100%);
}